* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #FF0000;
	background-color: #EDECEB;
	font-family: Verdana;
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
p {
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
}
hr {
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
h1 {
	font-size: 26px;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 5px;
	color: #000000;	
}
h2 {
	font-weight: normal;
	color: #669900;
	margin-top: 15px;
	margin-bottom: 5px;
}
table {
	font: 11px Arial;
	color: #333333;
	border: 1px solid #CCCCCC;
	width: 50%;
	border-collapse: collapse;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
td {
	padding: 2px;
	border: 1px solid #CCCCCC;	
}
th {
	padding: 2px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	background-color: #F0F0F0;
}
caption {
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 5px;
	font-size: 12px;
}
#corpo {
	width: 920px;
	margin: auto;
	background: #FFFFFF;
	border: 1px solid #999999;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#topo {
	height: 40px;
	margin-top: 5px;
}
#menu_superior {
	font: 11px Arial;
	height: 19px;
	background-color: #85A844;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-bottom: 3px;
	margin-top: 5px;
}
#menu_superior a {
	color: black;
	padding-right: 20px;
	text-decoration: none;
	padding-left: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #333333;
}
#menu_superior a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#conteudo {
	color: #333333;
}
#conteudo img {
	width: 100%;
}
#conteudo li {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 30px;
}
#rodape {
	color: #999999;
	font: 10px Arial;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

